{% extends 'base.html' %}
{% load static %}

{% block title %}Мапа активності серця{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card">
        <div class="card-header">
            <h2>Мапа активності серця паціента</h2>
        </div>
        <div class="card-body">
            <img id="heatmap" src="/api/heatmap/patient/?rr_fn={{rr_fn}}" class="rounded" alt="heatmap of heart activity">
        </div>
    </div>
    </div>
    <div class="col-6">
        <div class="card">
        <div class="card-header">
            <h2>Зона ризику паціента</h2>
        </div>
        <div class="card-body">
            <img id="clustermap" src="/api/clustermap/patient/?rr_fn={{rr_fn}}" alt="cluster map">
        </div>
    </div>
    </div>
</div>
{% endblock %}