{% extends 'base.html' %}
{% load static %}

{% block title %}Перевірте зону ризику вашого паціента{% endblock %}

{% block modal %}
<script type="text/javascript">
function execSubmit()
{
var v = document.getElementById("modal_wait");
v.style.display = "block";
return true;
};
</script>
<div id="modal_wait" class="modal_dialog">
<div>
<h2>Будь-ласка зачекайте ...</h2>
<h3>Йде передача файлу на сервер та його аналіз ...</h3>
</div>
</div>
{% endblock %}

{% block content %}
<h2>Перевірте зону ризику вашого паціента</h2>
<p>Для користувачів системи ДіаКард</p>
<div class="row">
  <div class="col-6">
    <br/>
    <h3>Що для цього потрібно зробити:</h3>
    <br/>
    <ul>
      <li>Експортувати RR-інтервали з дослідження системою ДіаКард</li>
      <li>Завантажити експортований файл</li>
      <li>Отримати оцінку зони ризику сформованою штучним інтелектом</li>
    </ul>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">Завантаження файлу з RR-інтервалами (*.beat)</div>
      <div class="card-body">
        <form id="upload-form" method="post" class="form" name="uploadForm" enctype="multipart/form-data" onsubmit="execSubmit()"> {% csrf_token %}
          <div class="form-group">
            <input name="inputBeats" type="file" class="form-control h-field" id="input-beats" accept=".beat" placeholder="Вибріть файл з RR-інтервалами (*.beat)"
                   required autocomplete="off" data-validation-required-message="Обовз'язково виберіть файл з RR-інтервалами (*.beat)">
            <p class="help-block text-danger"></p>
          </div>
          <p class="text-danger">{{info}}</p>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary color">Завантажити &raquo;</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_content %}
<script>

</script>
{% endblock %}