{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Звіт степені ризику пацієнта</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/report.css' %}">
  <style type="text/css">@page {
    size: A4; margin: 1cm;
}

@font-face {
    font-family: Arial;
    src: url(/static/font/ArialRegular.ttf);
}

body {
    font-family: Arial;
}</style>
</head>
    <body>
        <h1>Звіт степені ризику пацієнта</h1>
    </body>
</html>